*{
  margin: 0;
  padding: 0;
}

.root{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.top{
  display: flex;
  width: 25vw;
  height: 25vw;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.box{
  width: 46%;
  height: 46%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8vw;
  transition: 300ms;
}

.box:hover{
  background-color: #fff;
  color: #000;
  scale: 1.1;
}

.title{
  margin: 10vh 0;
}

